<h1 class="text-dark text-center m-3">Bienvenido al Mercado WEB, seleccione sus productos</h1>

{{#each frutas}}

{{>Producto nombre = this.nombre imagen = this.imagen precio = this.precio}}

{{/each}}